@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://use.fontawesome.com/3e873728b5.css');

.c-auth{

}
.main-menu{
    font-family: 'Open Sans', sans-serif;
    background-color: #5b697b;
    height: 750px;
}
.registration{
    position: relative;

}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0
}

.col-md-4.reg-form,
.col-md-4.sign-in-form{
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 0;
    margin-top: 70px;
    margin-bottom: 50px;

}
.reg-form-top-left,
.reg-form-top-middle,
.reg-form-top-right {
    width: calc(100%/7);
    display: inline-block;
    float: left;
    height: 10px;
}
.reg-form-top-left{
    border-radius: 5px 0 0 0;
}


.reg-form-top-right
{
    border-radius: 0 5px 0 0;
}
.reg-form-top-1 {
    background-color: #c3e279;
}
.reg-form-top-2 {
    background-color: #f7fec8;
}
.reg-form-top-3 {
    background-color: #ffd069;
}
.reg-form-top-4 {
    background-color: #f27669;
}
.reg-form-top-5 {
    background-color: #dc9cbe;
}
.reg-form-top-6 {
    background-color: #c59ae0;
}
.reg-form-top-7 {
    background-color: #969dcc;
}

.reg-form-login {
    margin-top: 25px;
    opacity: .6;
    display: block;
}

.reg-form-pass,
.reg-form-email,
.sign-in-form-login,
sign-in-form-pass {
    opacity: .6;
}


.reg-form-name,
.sign-in-form-name{
    color: #b8b8b8;
    font-size: 30px;
    background-color: #f7f7f7;
    text-shadow: 0px 2px white;
    padding: 25px 0 20px 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
}


.main-menu-input {
    color: black;
    padding: 8px;
    margin-bottom: 20px;
    border: 2px solid #ebebeb;
    background-color: transparent;
    width: 75%;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 3px #ebebeb;
    display: inline-block;
    border-left: 0;

}
.main-menu-input:focus,
.main-menu-button:focus {
    outline: none;
}

.pre-input-img {
    width: 5%;
    display: inline-block;
    border-radius: 5px 0 0 5px;
    border: 2px solid #ebebeb;
    padding: 8px;
    border-right: 0;
    box-shadow: 0px 3px #ebebeb;
    z-index: 99999999;

}

.main-menu-button {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 26px;
    background-color: #f27669;
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    width: 80%;
    padding: 10px;
    box-shadow: 0px 3px #d96a5d;
}
.main-menu-button:hover {
    cursor: pointer;
}


.reg-form-text,
.sign-in-form-text{
    color: #bdbdbd;
    margin-top: 15px;
}

.reg-form-signin:hover {
    cursor: pointer;
    font-weight: bold;
}

.reg-form-signin {
    color: #b8b8b8;
    font-weight: bold;
}

