<div class="main-menu">
    <div class="container">
        <div class="row">

            <div class="col-md-4"></div>
            <div class="col-md-4 reg-form">
                <div class="reg-form-top">
                    <span class="reg-form-top-1 reg-form-top-left"></span>
                    <span class="reg-form-top-2 reg-form-top-middle"></span>
                    <span class="reg-form-top-3 reg-form-top-middle"></span>
                    <span class="reg-form-top-4 reg-form-top-middle"></span>
                    <span class="reg-form-top-5 reg-form-top-middle"></span>
                    <span class="reg-form-top-6 reg-form-top-middle"></span>
                    <span class="reg-form-top-7 reg-form-top-right"></span>
                </div>
                <div class='registration'>
                    <form>
                        <div *ngIf="activeLoader"></div>

                        <p class="reg-form-name" *ngIf="!this.login">Регистрация</p>
                        <p class="sign-in-form-name" *ngIf="this.login">Вход</p>

                        <div class="reg-form-success-block bg-success" *ngIf="showSuccess">
                            Вы успешно зарегистрированы
                        </div>
                        <div class="reg-form-login" *ngIf="!this.login">
                            <span class="pre-input-img ">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                            <input type="text" name="name" [(ngModel)]="nameModel" placeholder="Введите ваш логин"
                                   class='main-menu-input'>
                        </div>

                        <div class="reg-form-email">
                            <span class="pre-input-img">@</span>
                            <input type="text" name="email" [(ngModel)]="emailModel" placeholder="Введите ваш email"
                                   class='main-menu-input' required>
                        </div>
                        <!--<p class="reg-form-text" *ngIf="!this.login">Для формирования пароля запишите его, нажав на кнопку.</p>-->
                        <div class="reg-form-pass">
                            <input type="text" placeholder='Для формирования пароля запишите его, нажав на кнопку.' [(ngModel)]="speechData" name="speechData">
                            <button class="btn btn-info btn-fill btn-wd" name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"
                            [disabled]="!showSearchButton">
                            Начать запись
                            </button>

                        </div>

                        <button type="submit" class='main-menu-button' *ngIf="!this.login" (click)="setRegistration()">
                            Зарегистрироваться
                        </button>
                        <button type="submit" class='main-menu-button' *ngIf="this.login" (click)="setLogin()">Войти
                        </button>

                        <p class="reg-form-text" *ngIf="!this.login">
                            ..если вы уже зарегистрированы, то
                            <br><a (click)="toggleActive()" class='reg-form-signin'>
                            войдите в свой аккаунт
                        </a>
                        </p>
                        <p class="sign-in-form-text" *ngIf="this.login">
                            ..если у вас еще нет аккаунта,
                            <a (click)="toggleActive()" class='reg-form-signin'>
                                <br>зарегистрируйтесь</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-12 col-md-12">-->
            <!--<div class="card">-->
                <!--<div class="header">-->
                    <!--<h4 class="title">&nbsp;&nbsp; Web Speech API in Angular2</h4>-->
                <!--</div>-->
                <!--<div class="content">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-2"></div>-->
                        <!--<div class="col-md-8">-->
                            <!--<div class="form-group">-->
                                <!--<label></label>-->
                                <!--<input type="text" class="form-control border-input" name="txtSpeechSearchMovieName" id="txtSpeechSearchMovieName" value=""-->
                                       <!--placeholder="Click below button and then say something!!!" [(ngModel)]="speechData">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2"></div>-->
                    <!--</div>-->
                    <!--<br />-->
                    <!--<div class="text-center">-->
                        <!--<button class="btn btn-info btn-fill btn-wd" name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"-->
                                <!--[disabled]="!showSearchButton">-->
                            <!--Enable Speech Search-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<br />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->